<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="author" content="@Helpers.Content.Author" />
    <meta name="description" content="@Helpers.Content.Description" />
    <meta name="keywords" content="@Helpers.Content.Keywords" />

    <meta property="og:title" content="@Helpers.Content.Title" />
    <meta property="og:type" content="@Helpers.Content.Website" />
    <meta property="og:url" content="" />

    <meta property="og:image" content="~/wwwroot/img/others/brand/land.png" />
    <meta property="og:site_name" content="@Helpers.Content.Name" />
    <meta property="og:description" content="@Helpers.Content.Description" />

    <meta name="fb:page_id" content="" />

    <meta property="og:email" content="@Helpers.Content.EmailAddress" />
    <meta property="og:phone_number" content="@Helpers.Content.Telephone" />
    <meta property="og:fax_number" content="" />

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="@Helpers.Content.AddressbarColor">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="@Helpers.Content.AddressbarColor">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="@Helpers.Content.AddressbarColor">

    <!-- Favicon -->
    @*<link href="~/wwwroot/img/others/brand/favicon.ico" rel="shortcut icon" />*@

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/wwwroot/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Optional Plugin CSS -->
    <link href="~/wwwroot/vendors/camera-slider/css/camera.min.css" rel="stylesheet" />

    <!-- MDB CSS -->
    <link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/mdb.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/site.min.css" rel="stylesheet" />

    <title>@($"{Page.Title} - {Helpers.Content.Title}")</title>
</head>
<body class="font-weight-normal">

    @*<div class="preloader"></div>*@

    <header id="header">
        @RenderPage("~/Shared/_HeaderPartial.cshtml")
    </header>
    <main id="main">
        @RenderBody()
    </main>
    <footer id="footer" class="page-footer font-small bg-theme-dark">
        @RenderPage("~/Shared/_FooterPartial.cshtml")
    </footer>

    <!-- Core JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @RenderSection("Scripts", required: false)

    <!-- Optional Plugin JS -->
    <script src="~/wwwroot/vendors/camera-slider/scripts/jquery.easing.1.3.min.js"></script>
    <script src="~/wwwroot/vendors/camera-slider/scripts/jquery.mobile.customized.min.js"></script>
    <script src="~/wwwroot/vendors/camera-slider/scripts/camera.min.js"></script>
    <script src="~/wwwroot/js/getsitecontrol.min.js"></script>
    <script>
        $('img.gallery-image').each(function (index, imgElement) {

            $(imgElement).on('load', function () {
                const width = this.width * 2;
                const height = this.height * 2;
              


                var fullsize = Math.floor(width).toString() + 'x' + Math.floor(height).toString();

                $(imgElement).closest('a.gallery-item:first').get()[0].attributes[2].value = fullsize;
            });
        });
    </script>
    <!-- MDB JS -->
    <script src="~/wwwroot/js/popper.min.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/mdb.min.js"></script>
    <script src="~/wwwroot/js/site.js"></script>
    <script>
        $(function () {
            $("#mdb-lightbox-ui").load('@Href("~/wwwroot/mdb-addons/mdb-lightbox-ui.html")');
        });
    </script>
</body>
</html>