<div class="bg-accent">
    <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">We offer @Helpers.Content.Keywords and more. Call for yours.</h6>
            </div>

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-right">
                <a class="btn btn-rounded btn-outline-white" href="tel:@Helpers.Content.Telephone.Line1">Call Us Now!</a>
            </div>

        </div>
        <!-- Grid row-->

    </div>
</div>

<!-- Footer Links -->
<div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 wow animated fadeIn">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">About Our Company</h6>
            <hr class="bg-accent accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <h6 class="text-uppercase font-weight-bold">  @Helpers.Content.Name</h6>
            <p>
                @Helpers.Content.Description
            </p>

        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 wow animated fadeIn">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact Information</h6>
            <hr class="bg-accent accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a href="@Helpers.Content.WorkingLocation.Url" target="_blank">  <i class="fa fa-globe mr-3"></i>@Helpers.Content.WorkingLocation.Name</a>
            </p>
            <p>
                <a href="mailto:@Helpers.Content.EmailAddress">  <i class="fa fa-envelope mr-3"></i> @Helpers.Content.EmailAddress</a>
            </p>
            <p>
                <a href="tel:@Helpers.Content.Telephone.Line1">  <i class="fa fa-phone mr-3"></i> @Helpers.Content.Telephone.Line1</a>
            </p>
        </div>


        <!-- Grid column -->
        <!--<div class="col-lg-4 pt-1 pb-1 col-md-6 wow animated fadeIn text-center">-->

            <!--Title-->
            <!--<h5 class="title mb-4 text-uppercase">
                <strong>Opening hours</strong>
            </h5>-->

            <!--Opening hours table-->
            <!--<table class="w-100 px-3">
                <tbody>
                    <tr>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">Monday:</td>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">@Helpers.Content.WorkingHours.Monday</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">Tuesday:</td>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">@Helpers.Content.WorkingHours.Tuesday</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">Wednesday:</td>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">@Helpers.Content.WorkingHours.Wednesday</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">Thursday:</td>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">@Helpers.Content.WorkingHours.Thursday</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">Friday:</td>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">@Helpers.Content.WorkingHours.Friday</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">Saturday:</td>
                        <td style="border-bottom: 1px solid #ddd; padding: 7px;">@Helpers.Content.WorkingHours.Saturday</td>
                    </tr>
                    <tr>
                        <td style="padding: 7px;">Sunday:</td>
                        <td style="padding: 7px;">@Helpers.Content.WorkingHours.Sunday</td>
                    </tr>
                </tbody>
            </table>

        </div>-->


    </div>

</div>

<!-- Copyright -->
<div class="footer-copyright text-center py-3">
    @($"© {DateTimeOffset.UtcNow.Year} Copyright:")
    <a href="~/">@Helpers.Content.BusinessName</a>
</div>