<!-- Topbar -->
<nav id="topbar" class="navbar navbar-expand navbar-dark py-0 bg-theme-dark font-small shadow-none d-none d-lg-block">

    <!-- Container -->
    <div class="container">

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topbarNav" aria-controls="topbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="topbarNav">

            <!-- Links -->
            <ul class="navbar-nav w-100 font-weight-normal">
                <li class="nav-item"><a class="nav-link" data-toggle="tooltip" title="Call us on Phone" href="tel:@Helpers.Content.Telephone.Line1"><i class="fa fa-phone fg-accent pr-2"></i>@Helpers.Content.Telephone.Line1</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tooltip" title="Email us on the web" href="mailto:@Helpers.Content.EmailAddress"><i class="fa fa-envelope-o fg-accent pr-2"></i>@Helpers.Content.EmailAddress</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tooltip" title="Our Regular Working Hours" href="javascript:void(0)"><i class="fa fa-clock-o fg-accent pr-2"></i>@Helpers.Content.WorkingHours.Regular</a></li>

                <li class="nav-item d-inline-flex ml-lg-auto text-center">
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Facebook" href="@Helpers.Content.FacebookLink" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Twitter" href="@Helpers.Content.TwitterLink" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on GooglePlus" href="@Helpers.Content.GooglePlusLink" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Instagram" href="@Helpers.Content.InstagramLink" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Pinterest" href="@Helpers.Content.PinterestLink" target="_blank"><i class="fa fa-pinterest-p d-inline" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Linkedin" href="@Helpers.Content.LinkedinLink" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
            </ul>

        </div>
        <!-- Collapsible content -->

    </div>

</nav>

<!-- Navbar -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-accent py-lg-3">

    <!-- Container -->
    <div class="container">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="~/">
            <img class="border rounded" style="height: 58px" src="~/wwwroot/img/others/brand/logo.png" />
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Links -->
            <ul class="navbar-nav ml-auto font-weight-normal">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="~/">Home</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="~/Pages/Services">Services</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="~/Pages/Gallery">Gallery</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="~/Pages/Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Pages/About">About</a>
                </li>

                <li class="nav-item d-inline-flex d-lg-none ml-lg-auto text-center">
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Facebook" href="@Helpers.Content.FacebookLink" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Twitter" href="@Helpers.Content.TwitterLink" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on GooglePlus" href="@Helpers.Content.GooglePlusLink" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Instagram" href="@Helpers.Content.InstagramLink" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Pinterest" href="@Helpers.Content.PinterestLink" target="_blank"><i class="fa fa-pinterest-p d-inline" aria-hidden="true"></i></a>
                    <a class="nav-link px-0" style="width: 1.8rem;" data-toggle="tooltip" title="Follow us on Linkedin" href="@Helpers.Content.LinkedinLink" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>

            </ul>

        </div>
        <!-- Collapsible content -->

    </div>

</nav>